<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>	  
		<rule name="HTTP to HTTPS redirect" stopProcessing="true">
		    <match url="(.*)" />
			<conditions logicalGrouping="MatchAny">
			  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^invictusstudio.com$" />
			</conditions>
		  <action type="Redirect" redirectType="Permanent" url="https://www.invictusstudio.com/{R:1}" />
		</rule>
	</rules>
    </rewrite>
    <staticContent>
		<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404/" responseMode="ExecuteURL" />
        </httpErrors>
        <httpRedirect enabled="false" destination="" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="AgencySiteId" value="1" />
	
	<!-- Stripe Public Key -->
    <add key="StripeSecretKey" value="pk_live_tUwgZvgyX3gARWSdLEWKLwzG" />
	
	<!--Google reCAPTCHA-->
	<add key="captchaThresholdScore" value="0.2"/>
	<add key="reCaptchaSiteKey" value="6LemPccZAAAAAIFPOPkJUeNBbHcnUlDHaR_akyUN" />  
	<add key="reCaptchaSecretKey" value="6LemPccZAAAAAJ5RFfL6IIvZr5OqttKVmBSwMnnO" />  
	<add key="reCaptchaTokenResponse" value="g-recaptcha-response" />
	<add key="reCaptchaUrl" value="https://www.google.com/recaptcha/api/siteverify" />

	
    <!--HubSpot Form Details-->
    <add key="FormGuid" value="17f174aa-b0aa-499b-a770-2e263810df2b" />
    <add key="PortalId" value="4927209" />
    <add key="HubspotAPIKey" value="2bb8dab8-1257-495c-a690-a42a0b312856" />
  </appSettings>
</configuration>
<!--ProjectGuid: DAC41C5A-A6F5-4DC4-8F4E-342C0818C360-->