.error-sec{
	background: url(../../Assets/images/error.jpg) no-repeat;
	height: 100vh;
	background-size: cover !important;
	display: flex;
    align-items: center;
	margin: 94px 0 0 0;
}
.error-sec h1 {
    font-size: 200px;
    line-height: 1;
    color: #b93b87;
    margin: 30px 0 0;
    font-weight: 800;
}
.error-sec h1 span {
    color: #212121;
}
.error-sec h3 {
    color: #b93b87;
    font-weight: 700;
    font-size: 40px;
	margin-left: 5%;

}
.error-sec p {
    font-size: 22px!important;
    color: #6f6f6f;
    margin-bottom: 20px;
}
.error-sec .return_home {
    font-size: 16px;
    display: inline-block;
    font-family: 'Montserrat';
    text-transform: uppercase;
    line-height: 44px;
    padding: 5px 0;
    border-radius: 2px;
    z-index: 1;
    border: 1px solid #b93b87;
    background-color: #b93b87;
    width: 250px;
	margin-left: 5%;
    color: #fff;

    text-align: center;
    font-weight: 700;
}

.bann-content {
	max-width: 800px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.error-sec .return_home:hover {
    background: #fff;
	color:#b93b87 ;
}
@media (max-width:768px){
    .error-sec h1 {
        font-size: 113px;
        line-height: 1;
        color: #b93b87;
        margin: 10px 0 0;
        font-weight: 800;
    }    
    .error-sec {
        height: 62vh;
        margin: 0;
    }
}